.add-area {
  background-color: #4696e5;
}
.add-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.add-elements > * {
  margin: 10px 0px;
  color: white;
}
form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
input {
  width: 60%;
  height: 100%;
  color: black !important;
  padding-left: 10px;
  padding-bottom: 5px;
}
.elements-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.btn-danger {
  margin: 10px 20px;
}
#ul {
  list-style-type: none;
  margin-top: 20px;
  width: 100%;
}
.createdElement {
  display: flex;
  align-items: center;
}
